.board {
    position: relative;
}

.diamond {
    position: absolute;
    border-radius: 5px;
    width: 40px;
    height: 40px;
}
div.game-heart {
    background: #FFE0FF;
}
div.game-chevy {
    background: lightblue;
}
div.game-tictac {
    background: plum;
}
div.game-square {
    background: palegreen;
}
div.game-star {
    background: pink;
}
div.game-bomb {
    background: #333;
}
div.game-any {
    background: #eee;
}
div.game-heart i {
    color: red;
    font-size: 34px;
    margin-left: 3px;
    margin-top: 3px;
}
div.game-chevy i {
    color: blue;
    font-size: 37px;
    margin-left: 4px;
    margin-top: 2px;
}
div.game-tictac i {
    color: purple;
    font-size: 34px;
    margin-left: 3px;
    margin-top: 5px;
}
div.game-square i {
    color: green;
    font-size: 37px;
    margin-left: 4px;
    margin-top: 2px;
}
div.game-star i {
    color: brown;
    font-size: 37px;
    margin-left: 3px;
    margin-top: 3px;
}
div.game-bomb i {
    color: white;
    font-size: 32px;
    margin-left: 13px;
    margin-top: 2px;
}
div.game-any i {
    color: black;
    font-size: 21px;
    margin-left: 3px;
    margin-top: 2px;
}
