<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
  </ul>
  <h3 class="text-muted">Diamonds</h3>
</div>

<div class="row marketing">
<!--
  <button class="btn btn-sm" ng-click="compress()">Compress</button>
-->
  <div style="height:25px;position:relative;">
  	<div class="diamond game-heart">
	  	<i class="fa fa-heart"></i>
  	</div>
  </div>
  <div style="height:25px;position:relative;">
  	<div class="diamond game-chevy">
	  	<i class="fa fa-chevron-circle-up"></i>
  	</div>
  </div>
  <div style="height:25px;position:relative;">
  	<div class="diamond game-tictac">
	  	<i class="fa fa-th"></i>
  	</div>
  </div>
  <div style="height:25px;position:relative;">
  	<div class="diamond game-square">
	  	<i class="fa fa-square"></i>
  	</div>
  </div>
  <div style="height:25px;position:relative;">
  	<div class="diamond game-star">
	  	<i class="fa fa-star"></i>
  	</div>
  </div>
  <div style="height:25px;position:relative;">
  	<div class="diamond game-bomb">
	  	<i class="fa fa-flash"></i>
  	</div>
  </div>
  <div style="height:25px;position:relative;">
  	<div class="diamond game-any">
	  	<i class="fa fa-asterisk"></i>
  	</div>
  </div>
  Score: {{total}}
  <div class="board" id="board">
  </div>
</div>
